*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #bdc3c7;
}

.wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  background-color: #27ae60;
  padding: 20px 60px 80px 60px;
}
.main {
  padding: 105px 60px 75px 60px;
  background-color: #ecf0f1;
}
.site-footer {
  padding: 60px 30px;
  background-color: #444444;

}