@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #bdc3c7;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #444444;
  text-transform: capitalize;
}

.Twitter {
  fill: #22b3df;
  width: 24px
  stroke: #0ff;


}
.Twitter:hover {
  fill: #ff0;
  stroke: #f0f;
}
.ovh {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.wrapper {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  color: #f9f9f9;
  background-color: #27ae60;
  padding: 20px 60px 80px 60px;
}

.site-header__top {
  overflow: hidden;
}

.site-header h1 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 63px;
}
.site-header h1 span{
  font-weight: 300;
}

.site-header a {
  color: #f9f9f9;
  text-decoration: none;
}

.site-logo {
  display: inline-block;
}

.site-logo img {
  vertical-align: top;
}
.site-nav {
  float: right;
  margin-top: 12px;
}
.site-nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.site-nav li {
  float: left;
}

.site-nav li + li {
  margin-left: 19px;
}

.site-nav a {
  font-size: 14px;
  transition: 1.5s;
}

.site-nav a:hover,
.site-nav a.active {
  color: #252525;
}



.btn-success {
  display: inline-block;
  padding: 12px 70px;
  background-color: #2ecc71;
  border-radius: 4px;
}

.btn-outline {
  display: inline-block;
  padding: 12px 83px;
  background-color: #ecf0f1;
  border-radius: 4px;
  font-size: 13px;
  border: 2px solid #989a9a;
  text-decoration: none;
  color: #989a9a;
}


.main {
  padding: 105px 60px 75px 60px;
  background-color: #ecf0f1;
}

.h-decor {
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 0;
  padding-bottom: 38px;
  background: url('h-bg.png') bottom center no-repeat;
}

.gallery {
  overflow: hidden;
  margin-left: -11px;
  margin-right: -11px;
}

.gallery-item {
  float: left;
  padding: 11px;
  width: 50%;
  position: relative;
  color: #f9f9f9;

}

.gallery-item__overlay::before {
  content: '';
  position: absolute;
  background-color: rgba(149,165,166, .9);
  top: 31px;
  bottom: 31px;
  left: 31px;
  right: 31px;
  opacity: 0;
  transition: .5s;
  z-index: 1;
}

.gallery-item__dsc {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: 1.7s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.gallery-item__title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 20px;
}

.gallery-item__title::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #f9f9f9;
  bottom: 0;
  left: 23px;
  right: 23px;
}

.gallery-item__category {
  font-size: 10px;
}

.gallery-item img {
  max-width: 100%;
  transition: .5s;
}
.gallery-item:hover.gallery-item__overlay::before,
.gallery-item:hover .gallery-item__dsc {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1) rotate(2deg);
}


.site-footer {
  padding: 60px 30px;
  background-color: #444444;
  overflow: hidden;

}

.social {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.social li {
  float: left;
  margin-right: 10px;
}

.social a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.social a[href]::before{
  content: '';
  display: inline-block;
  margin-right: 5px;
  height: 14px;
  width: 14px;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  margin-top: 2px;
}

.social a[href*=facebook]::before {
  background-position: 0 -36px;
}

.social a[href*=dribbble]::before {
  background-position: 0 0;
}

.social a[href*=twitter]::before {
  background-position: 0 -17px;
}


.copy {
  float: right;
  color: #fff;
}
.google-map {
  width: 100%;
}


@media (max-width: 560px) {
  .site-nav {
    float: none;
    margin-top: 35px;
  }

  .site-nav ul {
    display: inline-block;
  }

  .site-header__top {
    text-align: center;
  }

  .site-header h1 {
    margin-top: 50px;
  }

  .site-header,
  .main,
  .site-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .copy,
  .social {
    float: none;
  }

  .social {
    display: inline-block;
    margin-bottom: 24px;
  }

  .site-footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}